body {
    background-color: rgb(183, 184, 181);
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(183, 184, 181);
    box-shadow: 0 5px 25 px rgb(219, 219, 217);
}

.header__img {
    height: 64px;
    width: 64px;
}

/* POSTS */
.card-img-top {
    height: 128px;
    width: 128px;
}
body{
    background: rgb(183, 184, 181);
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color:#363535;
  }
  h1,h4{
    font-family: 'Montserrat', sans-serif;
  }
  .row{
    padding:50px 0;
  }
  .seperator{
    margin-bottom: 30px;
    width:35px;
    height:3px;
    background:#363535;
    border:none;
  }
  .title{
    text-align: center;
    
    .row{
      padding: 50px 0 0;
    }
    
    h1{
      text-transform: uppercase;
    }
    
    .seperator{
      margin: 0 auto 10px;
    }
  }
  .item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
    box-shadow: 0 5px 25 px rgb(219, 219, 217);
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .item-in {
      background: #dbd6d6;
      padding: 40px;
      position: relative;
      
      &:hover:before {
        width: 100%;
      }
     
      &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 0%;
      background: #333333;
      right: 0px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
      }
    }
  }
  .item{
      
    h4{
        font-size: 18px;
        margin-top: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      p{
        font-size: 12px;
      }
      a{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #363535;
        margin-top: 10px;
  
        i {
          opacity: 0;
          padding-left: 0px;
          transition: 0.4s;
          font-size: 24px;
          display: inline-block;
          top: 5px;
          position: relative;
         }
        
        &:hover {
          text-decoration:none;
          i {
            padding-left: 10px;
            opacity: 1;
            font-weight: 300;
            }
          }
        }
      }